@model AspnetIdentityRoleBasedTutorial.Data.ApplicationUser

<h2>Edit User</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name" class="control-label">Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">Account User</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email User:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Birthday" class="control-label">Birthday:</label>
        <input asp-for="Birthday" class="form-control" />
        <span asp-validation-for="Birthday" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EducationLevel" class="control-label">Education Level:</label>
        <input asp-for="EducationLevel" class="form-control" />
        <span asp-validation-for="EducationLevel" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Programming" class="control-label">Programming:</label>
        <input asp-for="Programming" class="form-control" />
        <span asp-validation-for="Programming" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ToeicScore" class="control-label">TOEIC Score:</label>
        <input asp-for="ToeicScore" class="form-control" />
        <span asp-validation-for="ToeicScore" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Experience" class="control-label">Experience:</label>
        <input asp-for="Experience" class="form-control" />
        <span asp-validation-for="Experience" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label">Address:</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
