@{
    ViewData["Title"] = "Create Role";
}





<h1 class="mb-4 text-center">Create Role</h1>
<div class="container">
    <div class="row ">
        <div class="col-md-2">
            <form method="post" asp-action="CreateRole">
                <div class="mb-3">
                    <label for="Name" class="form-label">
                        Role Name  <input type="text" id="Name" name="Name" class="form-control" />
                    </label>
       
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>



