@model AspnetIdentityRoleBasedTutorial.Data.Topic

@{
    ViewData["Title"] = "Create Course";
}

<h1>Create Course</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="TopicName" class="control-label">Course Name:</label>
        <input asp-for="TopicName" class="form-control" />
        <span asp-validation-for="TopicName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description:</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CourseId" class="control-label">Topic:</label>
        <select asp-for="CourseId" class="form-control" asp-items="ViewBag.Courses">
            <option value="">-- Select Course --</option>
        </select>
        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
